# Project files
# ======================
dist/
typings/
*/*.temp

# Mac
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
npm-debug.log
node_modules/
.bower-*/
.idea/


# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
