<my-app>Loading...</my-app>

<br>
{{!-- <div class="chat-box">
  <h2>Welcome to ChatBox</h2>
  <div class="chat-area">
    <input type="text" name="chat-name" value="" placeholder="" class="chat-name">
    <div class="chats">

    </div>
  </div>
  <input type="text" name="chat-msg" value="" class="chat-msg" placeholder="Your Message">
</div>
 --}}


