{% extends 'layout.html' %}

{% block content %}
{% raw %}
<div class="layout__container">
  <div class="layout layout--{{pageConfig.id}}">

    <!-- HEADER -->
    <header class="layout__header">
      <!-- hero -->
      <div class="hero hero--home">
        <!-- <div class="hero-content"> -->
          <div class="hero__logo"></div>
          <h4 class="hero__text">
            Open-Source modern small-store app
          </h4>
        <!-- </div> -->
      </div>

      <!-- navigation -->
      <div class="header-nav__container">
        <nav class="header-nav">
          <a ng-link="home" class="mdl-button">Home</a>
          <a ng-link="productList" class="mdl-button">Products</a>
          <a ng-link="ass" class="mdl-button">aaa</a>
          <a ng-link="admin" class="mdl-button">Admin</a>
          <!-- <a ng-link="productDetail({productId:'another-product'})" class="mdl-button">Product two</a> -->
        </nav>
      </div>

    </header>

    <!-- CONTENT -->
    <main class="layout__content">
      <div ng-viewport></div>
    </main>

  </div>
</div>
{% endraw %}
{% endblock %}
