<div>
  <a ng-link="home" class="mdl-button">Home</a>
  <a ng-link="ass" class="mdl-button">aaa</a>
  <a ng-link="productList" class="mdl-button">Products</a>
  <a ng-link="productDetail({productId:'some-product-name'})" class="mdl-button">Product Detail</a>
  <br>

  <div ng-viewport></div>

</div>
