<div ng-app="m-test">
  <!-- <my-app></my-app> -->
  <div my-app></div>
  <div test class="myClass"> contnetss</div>
</div>


{{!-- <div class="chat-box">
  <h2>Welcome to ChatBox</h2>
  <div class="chat-area">
    <input type="text" name="chat-name" value="" placeholder="" class="chat-name">
    <div class="chats">

    </div>
  </div>
  <input type="text" name="chat-msg" value="" class="chat-msg" placeholder="Your Message">
</div>
 --}}
