<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='./assets/styles/main.css'>
    <link rel="stylesheet" href="./lib/material-design-lite/material.css">
    <base href="/"> 
</head>
<body>
    {{{body}}}

    <script src="./lib/angular/angular.min.js"></script>
    <!-- // <script src="./lib/angular-route/angular-route.js"></script> -->
    <script src="./lib/angular-new-router/dist/router.es5.js"></script>
    <script src="./main.js"></script>
    <script src="./components/home/home.js"></script>
    <script src="./components/ass/ass.js"></script>

</body>
</html>
