<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{{body}}}

    <script src="./lib/traceur-runtime.js"></script>
    <script src="./lib/system.js"></script>
    <script src="./lib/angular2.dev.js"></script>
    <script src="./lib/router.dev.js"></script>
    <script src="./lib/init.js"></script>
</body>
</html>