<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='./assets/styles/main.css'>
    <link rel="stylesheet" href="./lib/material-design-lite/material.css">
    <base href="/">
</head>
<body  ng-app="app">
    {{{body}}}

    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular-new-router/dist/router.es5.js"></script>
    <script src="./app/app.module.js"></script>
    <script src="./app/app.route.js"></script>
    <script src="./app/components/home/home.module.js"></script>
    <script src="./app/components/home/home.controller.js"></script>
    <script src="./app/components/ass/ass.module.js"></script>
    <script src="./app/components/ass/ass.controller.js"></script>
    <script src="./app/components/product/product.module.js"></script>
    <script src="./app/components/product/product.controller.js"></script>

</body>
</html>
