<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='./assets/styles/main.css'>
    <link rel="stylesheet" href="./libs/material-design-lite/material.css">
    <base href="/"> 
</head>
<body  ng-app="storeApp" ng-controller="AppController">
    {{{body}}}

    <script src="./libs/angular/angular.min.js"></script>
    <script src="./libs/angular-new-router/dist/router.es5.js"></script>
    <script src="./main.js"></script>
    <script src="./components/home/home.js"></script>
    <script src="./components/ass/ass.js"></script>
    <script src="./components/products/products.js"></script>

</body>
</html>
