<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <!-- <title ng-bind="title">{{title}}</title> -->
    <title ng-bind="pageTitle +' - {{title}}'">{{Title}}</title>
    <link rel="stylesheet" href="./lib/material-design-lite/material.css">
    <link rel='stylesheet' href='./assets/dist/styles/main.css'>
    <base href="/">
</head>
<body>
      {{{body}}}

    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular-new-router/dist/router.es5.js"></script>

    <script src="./app/app.module.js"></script>
    <script src="./app/app.route.js"></script>

    <script src="./app/shared/shared.service.js"></script>
    <script src="./app/shared/constant.js"></script>

    <script src="./app/components/home/home.module.js"></script>
    <script src="./app/components/home/home.controller.js"></script>

    <script src="./app/components/ass/ass.module.js"></script>
    <script src="./app/components/ass/ass.controller.js"></script>

    <script src="./app/components/product-list/product-list.module.js"></script>
    <script src="./app/components/product-list/product-list.controller.js"></script>
    <script src="./app/components/product-list/product-list.directive.js"></script>

    <script src="./app/components/product-detail/product-detail.module.js"></script>
    <script src="./app/components/product-detail/product-detail.controller.js"></script>

</body>
</html>
