<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <title ng-bind="pageConfig.title + ' {{title}}'">{{title}}</title>
  <base href="/">
  <meta name="fragment" content="!">
  <!-- Application CSS Files --> {% for cssFile in cssFiles %}
  <link rel="stylesheet" href="{{cssFile}}"> {% endfor %}
</head>
<body>
    {% block content %}{% endblock %}


  <!--Application Angular 2 Files--> {% for angularFile in angularFiles %}
  <script type="text/javascript" src="{{angularFile}}"></script> {% endfor %}
  
  <!--Application JavaScript Files--> {% for jsFile in jsFiles %}
  <script type="text/javascript" src="{{jsFile}}"></script> {% endfor %}

</body>
</html>
