
<!-- Product list -->
<div class="product-list__container">
    <div class="product-list grid ">

        <!-- START product-loop -->
        <div class="product cell cell--4-col" ng-repeat="product in productList.products">

            <figure class="product__figure">
              <img src="{{ product.imageURLs[0] }}" alt="" />
            </figure>

            <div class="product__cover">

              <h3 class="product-title">
                  <a href="/products/{{ product.dashName }}">{{ product.name }}</a>
              </h3>

              <div class="product-price">
                <div class="product-price_final">
                  {{ ( product.price / 100 ) | currency:"$" }}
                </div>
              </div>

            </div>

        </div>
        <!-- END product-loop -->

    </div>
</div>
