
/**
 * COLORS
 *
 */
$black: black;
$white: white;

// Gray Scale from 0 to 255;
$gray-0 : rgb(0 ,0 ,0 );
$gray-10: rgb(10 ,10 ,10 );
$gray-20: rgb(20 ,20 ,20 );
$gray-30: rgb(30 ,30 ,30 );
$gray-40: rgb(40 ,40 ,40 );
$gray-50: rgb(50 ,50 ,50 );
$gray-60: rgb(60 ,60 ,60 );
$gray-70: rgb(70 ,70 ,70 );
$gray-80: rgb(80 ,80 ,80 );
$gray-90: rgb(90 ,90 ,90 );
$gray-100: rgb(100 ,100 ,100 );
$gray-110: rgb(110 ,110 ,110 );
$gray-120: rgb(120 ,120 ,120 );
$gray-130: rgb(130 ,130 ,130 );
$gray-140: rgb(140 ,140 ,140 );
$gray-150: rgb(150 ,150 ,150 );
$gray-160: rgb(160 ,160 ,160 );
$gray-170: rgb(170 ,170 ,170 );
$gray-180: rgb(180 ,180 ,180 );
$gray-190: rgb(190 ,190 ,190 );
$gray-200: rgb(200 ,200 ,200 );
$gray-210: rgb(210 ,210 ,210 );
$gray-220: rgb(220 ,220 ,220 );
$gray-230: rgb(230 ,230 ,230 );
$gray-235: rgb(235 ,235 ,235 );
$gray-240: rgb(240 ,240 ,240 );
$gray-245: rgb(245 ,245 ,245 );
$gray-250: rgb(250 ,250 ,250 );
$gray-255: rgb(255 ,255 ,255 );

// Layout Sizes

// 1280px - (12px * 2 ) + 2px
$grid-max-width: 125.4rem;



/**
 * Google Grid System Variables
 */

$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: 12px !default;
$grid-desktop-margin: 12px !default;

$grid-desktop-breakpoint: 840px !default;

$grid-tablet-columns: 8 !default;
$grid-tablet-gutter: $grid-desktop-gutter !default;
$grid-tablet-margin: $grid-desktop-margin !default;

$grid-tablet-breakpoint: 480px !default;

$grid-phone-columns: 4 !default;
$grid-phone-gutter: $grid-desktop-gutter !default;
$grid-phone-margin: $grid-desktop-margin !default;

$grid-cell-default-columns: $grid-phone-columns !default;
