/**
 * This layout will be in use when
 * "layout--home" class is added to ".layout"
 */
.layout.layout--home {

  .layout__header {
    height: 100%;

    .hero {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
  .layout__content {
    // TODO: remove this
    display: none
  }
}
