

$black: #000;
$gray-0: #fff;
$gray-1: #f1f1f1;
$gray-2: #eee;
$gray-3: #ccc;
$gray-4: #aaa;
$gray-5: #999;
$gray-6: #666;
$gray-7: #333;
$gray-8: #111;
$gray-9: #000;




/**
 * Google Grid System Variables
 */

$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: 10px !default;
$grid-desktop-margin: 14px !default;

$grid-desktop-breakpoint: 840px !default;

$grid-tablet-columns: 8 !default;
$grid-tablet-gutter: $grid-desktop-gutter !default;
$grid-tablet-margin: $grid-desktop-margin !default;

$grid-tablet-breakpoint: 480px !default;

$grid-phone-columns: 4 !default;
$grid-phone-gutter: $grid-desktop-gutter !default;
$grid-phone-margin: $grid-desktop-margin !default;

$grid-cell-default-columns: $grid-phone-columns !default;







/**
 * Absolute align:
 * This mixin works exactly like what you would
 * expext from "margin" or "padding" work when
 * you pass it 2, 3 or 4 varibales.
 * it also supports "skip" keyword when you need
 * to ignore certain position
 * @param  {[type]} $top
 * @param  {[type]} $right:  [optional]
 * @param  {[type]} $bottom: [optional]
 * @param  {[type]} $left:   [optional]
 */
@mixin absolute-align($top, $right: null, $bottom: null, $left: null) {

    @if ($left) {
        @if ($top != "skip") {
            top : $top;
        }
        @if ($right != "skip") {
            right: $right;
        }
        @if ($bottom != "skip") {
            bottom: $bottom;
        }
        @if ($left != "skip") {
            left: $left;
        }
    }
    @else if ($bottom) {
        @if ($top != "skip") {
            top : $top;
        }
        @if ($right != "skip") {
            right: $right;
            left: $right;
        }
        @if ($bottom != "skip") {
            bottom: $bottom;
        }
    }
    @else if ($right) {
        @if ($top != "skip") {
            top : $top;
            bottom: $top;
        }
        @if ($right != "skip") {
            right: $right;
            left: $right;
        }
    }
    @else {
        @if ($top != "skip") {
            top: $top;
            right: $top;
            bottom: $top;
            left: $top;
        }
    }

}
